body {
    background-color: #fdf1ec;
}

.wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
    float: left;
    height: 420px;
    width: 327px;

}

.product-img img {
    border-radius: 7px 0 0 7px;
}

.product-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 420px;
    width: 327px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}

.paragraph-style {
    height: 125px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
    margin-right: 2px;
}

.card2-footer {
    display: flex;
    align-items: center;
    background: #5b5f97;
    color: white;
    width: 654px;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    font-family: 'Sriracha', arial, sans-serif;
}

.profile2-img {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: .75rem;
    display: block;
    margin: 0 auto .75rem auto;
}