@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #222
}

.login-container {
  height: 500px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fffffb;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.profile-img {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: .75rem;
  display: block;
  margin: 0 auto .75rem auto;
}

.name-style {
  font-family: 'Sriracha', arial, sans-serif;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  color: #ffc145;
}

.description {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Sriracha', arial, sans-serif;
  font-size: 18px;
  color: #ff6b6c;
  height: 150px;
}

.skeleton {
  animation: loading-animation 1s linear infinite alternate;
  opacity: .7;
}

@keyframes loading-animation {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}


.header-style {
  margin-bottom: 1rem;
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  margin-bottom: 1.25rem;
  border-radius: .125rem;
}

.skeleton-text:last-child {
  width: 80%;
}


.card1-footer {
  display: flex;
  align-items: center;
  background: #5b5f97;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  padding: 0 20px;
  margin-left: -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
  font-family: 'Sriracha', arial, sans-serif;
}